body{
    margin: 0px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}

/* nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    width: 40px; /* Adjust size as needed */
    /* height: auto;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  } */ 

nav{
    background-color: rgb(35, 68, 153);
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    margin-right: 30px;
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border-radius: 50%;
}
nav a{
    float: left;
    padding: 20px;
    display: block;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 30px;
    display: inline-block;
  }

  nav ul li a {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* transition: transform 0.5s ease; */
    /* transition: transform; */
    transition: 0.5s ease;

  }
nav ul li a:hover{
    transition-delay: 0.1s;
    background-color:white;
    color:rgb(24, 148, 119);
    border-radius: 8px;
    /* text-decoration: underline; */
}
.bg{
    background-size: cover;
    background-position: center;
    position: fixed;
    background-image: url('Images/dypcet.jpg');
    top: 0;
    left: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
    /* opacity: 0.7; */
}

.loginform{
    z-index: 9999;
}

.formcard{
    /* margin: 50px 50px 50px 100px; */
    /* margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0px; /* Center the card horizontally */
    /* margin-right: auto; */
    margin: 100px 500px auto;
    width: 500px;
    height: 350px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(148, 215, 246,0.7);
    box-shadow:  3px 4px 8px rgba(63, 63, 63, 0.2);
    /* background-color: transparent; Making the background color transparent */
    border: 2px solid rgba(0, 0, 0, 0);
}
.form{
    background-color: transparent;
    text-align: center;
}
.btnsubmit{
    margin: 0px 50px;
    display: inline-block;
    background-color:rgb(19, 177, 235,0.7);
    padding: 10px 30px; 
    border:1px rgb(243, 236, 236,0.6) solid;   
    border-radius: 6px;
}
.container3{
    background-color: rgb(57, 135, 243);
}
h1{
    font-style: italic;
}
p{
    text-align: justify;
    font-style: italic;
    font-size: 20px;
}
iframe{
    padding:10px;
    margin: 0px 0px;
    transition: transform 0.5s ease;
}
/* .iframe:hover{
    transform: scale(1.1);
} */
.p{
    font-size: 50px;
}

.img2{
    height: 200px;
    width: 200px;
    padding-top: 0px;
    margin: 10px;
    margin-left:450px;
}

/* .img2:hover{
    color:black;
    border-color: black;
} */

.container2{
    /* margin-top: 50px; */
    padding-left: 10x;
    background-color: antiquewhite;
    margin: 50px 20px 50px 20px;
    border-radius: 10px;
    border: 2px solid rgba(7, 7, 234, 0.1);
    transition: transform 0.5s ease;
}

.container2:hover:hover{
    transform: scale(1.02);
    box-shadow: 2px 4px 40px rgb(20, 5, 12);
}

.maps{
    margin-top: 50px 0px 50px 0px;
}
/* 
.form{
    background-color: aquamarine;
} */
.form-group{
    font-size: 18px;
    margin: 20px;
    text-align: left;
}
/* .btn{
    text-align: left;
    margin: 10px;
    width: 200px;
} */

footer {
    background-color: rgb(163, 237, 237);
    padding: 20px 0;
    text-align: center;
  }